body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

button{
    padding: 5px;
    margin: 5px 3px 12px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid tomato;
    background-color: tomato;
    color: white;
}

button:hover{
    cursor: pointer;
}

#image{
    margin: auto;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#image img{
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}